*{
    margin: 0;
    padding: 0;
}
.inocent{
    border-radius: 100%;
}
body{
    background-color: lawngreen;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}